footer{

.footerInfo{
    background-color: $element-background-color;

    .info{
        display:inline-block;
        width:15%;
        padding: $primary-site-padding;
        vertical-align:top;
        font-size: $normal-text-size;
        list-style-type:none;
        color: $alternate-text-color;
        border:none;
            
            #topic{
            font-weight:bold;
                }
        }
    }

    .help{
        display:inline-block;
        width:20%;
        background-color: $alternate-text-color;
        margin-top:20px;
        padding:$primary-site-padding;
        position:relative;
        color: $primary-background-color;
        
        button{
            background-color: $button-background-color;
            color: $primary-background-color;
            border-radius:5px;
            }

        .contact{
        border:none;
        color: $primary-background-color;
        vertical-align:center;
    
            h1{
                font-style:italic;
                font-size: $large-text-size;
                font-weight:normal;
                }

            button{
                position:absolute;
                bottom:5px;
                right:2px;
                }
            }
    }

    .footer{
        background-color: $element-background-color;
        width:100%;
        margin:0 auto;
        
        p{
            display: inline;
            color: $alternate-text-color;
            padding:$primary-site-padding;
            font-size: $footer-text-size;
            }
        }


}
