footer{

.footerInfo{
    background-color: $element-background-color;

    .info{
        display:inline-block;
        width:15%;
        padding: $primary-site-padding;
        vertical-align:top;
        font-size: $normal-text-size;
        list-style-type:none;
        color: $alternate-text-color;
        border:none;
            
            #topic{
            font-weight:bold;
                }
        }
    }

    .help{
        display:inline-block;
        width:25%;
        background-color: $alternate-text-color;
        margin-top:20px;
        padding:$primary-site-padding;
        color: $primary-background-color;
        
            .contact{
                border:none;
                color: $primary-background-color;
                vertical-align:center;
    
                    h1{
                        font-style:italic;
                        font-size: $large-text-size;
                        font-weight:normal;
                      }
                    }

            .frustrated{
                position:relative;
            
                .digits{
                    display:inline;
                    }

                button{
                    position:absolute;
                    right:25px;
                    bottom:10px;
                    background-color: $button-background-color;
                    color: $primary-background-color;
                    border-radius:5px;
                    padding:$minimal-site-padding;
                        }
                }
        
            }


    .footer{
        background-color: $element-background-color;
        width:100%;
        margin:0 auto;
        
        p{
            display: inline;
            color: $alternate-text-color;
            padding:$primary-site-padding;
            font-size: $footer-text-size;
            }
        }


}
