main{

    .ties{
            position:relative;
            
        ul{
            display:flex;
            flex-direction:row;
            align-items:stretch;
            list-style-type: none; 
            background-color: $element-background-color;  
            margin:0;
    
            li{
                margin:0 auto;
                text-align:center;
                font-size:$large-text-size;
        
                img{
                    width:106px;
                    }
                }
        }
    } 


#tagline{
    background-color: $element-background-color;
    font-size:$giant-text-size;
    font-weight:bold;
    text-align:center;
    padding:50px;

    h1{
        margin:0;
        }
}



    .product{
        position:relative;
        display:inline-block;
        width:28%;
        margin: 0 auto;
        padding: $minimal-site-padding;
        border: 20px solid $primary-background-color;
        text-align:right;

            p{
                position:absolute;
                top:4px;
                right:10px;
                font-size:$large-text-size;
                font-weight:bold;
                padding-right: $primary-site-padding;
                width:20%;
                
            }

            img{
                width: 100%;
                }
            }  


    .story{
        text-align:center;
        width:100%;
        margin:0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 5px solid transparent;
        border-image: url("https://github.com/TIY-Charlotte-Frontend-Engineering/curriculum/blob/master/daily/04-internet/assets/hatch-light@2x.png?raw=true") 15 0 repeat;
        border-image-outset: -0.5;
        width:60%;

        h1{
            font-size:$large-text-size;
            font-style:italic;
            margin:0 auto;
            }

        a{
            color: $button-background-color;
            font-size:$large-text-size;
            text-decoration:none;
          }

        }

.weeklyRow{
    border-bottom: 5px solid transparent;
    border-image: url("http://skinnyties.com/skin/frontend/skinnyties/skinnyties/img/perforated-bottom.png") 5 0 repeat;
    border-image-outset: -0.5;

    .media{
        display:inline-block;
        width:20%;
        margin: 0 auto;
        padding: $minimal-site-padding;
        border: 20px solid $primary-background-color;
        vertical-align:top;
        
           p{
            font-size: $normal-text-size;
            }

        img{
            width:100%;
            }

        .logos{
            display:inline;
            
            img{
                width:30px;
                }
            }

        input[type=email]{
            border:6px solid $alternate-text-color;
            margin-bottom:10px;
            color: $alternate-text-color;
            padding: $primary-site-padding;
            }

        #subscribe{
            margin:0;   
            background-color:$button-background-color;
            color:$primary-background-color;
                }
        #pick{
            color: $button-background-color;
            }

        }
    }
}