body{

.storyHeader{
    color: $primary-background-color;
    font-size: $giant-text-size;
    background-color: $element-background-color; 
}

.storyHeader h1{
    margin:0;
    padding:10px;
}

.text{
    width:80%;
    margin:0 auto;

}

.storyHeader p{
    display:inline-block;
    width:35%;
    vertical-align:top;
    padding:10px;
}
}