$site-text-font: Arial;
$primary-background-color: white;
$element-background-color: lightgray;
$alternate-text-color: darkgray;
$button-background-color: dodgerblue;

$normal-text-size: 1em;
$large-text-size:1.5em;
$footer-text-size:.7em;
$giant-text-size: 3em;

$primary-site-padding: 10px;
$minimal-site-padding: 5px;